*{
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0% auto;
    overflow-x:hidden;
}
.header{
    background-color: #008cab;
    text-align: center;
    color: white;
    padding: 10px;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1ab1d1;
}
.nav__item{
    float: left;
    list-style: none;
}
.nav__link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav__link:hover{
    background-color: #33d6f7;
}
.clearfix{
    clear: both;
}
.main{
    padding: 20px;
    background-color: lightblue;
}
.articule{
    background-color: #33d6f7;
    border-radius: 10px;
    margin: 40px;
}
.articule__contenido{
    margin: 5px;
    border: 1px solid black;
    list-style: none;
}
.articule__imagen{
    width: 500px;
    border: 1px solid black;
}
.footer_sencillo {
  text-align: center;
  padding: 3px;
  background-color: #008cab;
  color: white;
}