*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0% auto;
    overflow-x:hidden;
}
.header{
    background-color: #008cab;
    text-align: center;
    color: white;
    padding: 10px;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1ab1d1;
}
.nav__item{
    float: left;
}
.nav__link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav__link:hover{
    background-color: #33d6f7;
}
.clearfix{
    clear: both;
}
.main{
    padding: 20px;
    background-color: lightblue;
}
.articule{
    background-color: #33d6f7;
    border-radius: 10px;
    margin: 40px;
}
.articule__contenido{
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}
.footer {
    background-color: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
  }
  
  .footer__social .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
  }
  
  .footer__social-link {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }
  
  .footer__social-link:hover {
    color: #fff;
  }
  
  .footer__links .row {
    width: 100%;
  }
  
  .footer__links-list .footer__links-item {
    display: inline-block;
    margin: 0px 30px;
  }
  
  .footer__links-list .footer__links-link {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }
  
  .footer__links-list .footer__links-link:hover {
    color: #fff;
  }
  
  .footer__copyright .row {
    color: gray;
    font-size: 0.8em;
  }
  
  @media (max-width: 720px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
    .footer__links-list .footer__links-item {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
  }